<h1>About the Website</h1>

<div class="row home-row">
  <img src="https://raw.githubusercontent.com/wiki/intridea/grape/grape_logo.png" alt="Grape logo" />
</div>

<div class="row home-row">
  <p>
    This is an example of an Rails API made with Grape. Was created with
    <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
    from the
    <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
  </p>

  <p>
    You could see how the API works on the <a href="/documentation">API Documentation section</a>.
    <br>
    There are an example token for testing purpose: <b>18dfef7acf97765b54abecdf86a25bba</b>.
    <br>
    Use it for test the API on the documentation section or via <strong>CURL</strong> (e.g.).
    <br>
    For login, the example user is <strong>example@email.com</strong>,
    and the <strong>password</strong> is 123456example.
  </p>
</div>
