<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h3>Products</h3>
    <div class="">
      <table class="table">
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <%= render product %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
