<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h3>Reviews</h3>
    <div class="">
      <table class="table">
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <%= render review %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
